body,
html {
margin: 0;
padding: 0;
font-family: "Roboto", Arial, Helvetica, sans-serif;
}

body{background:#FFED00};


header h1,
header h2,
header figure {
margin: 0;
}


header {
    width: 100%;
    float: left;
    background-color: #999999;
margin-bottom: 10px;
}


hgroup{float:left ;
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 10px;
color: #FD0000;

}

figure {
    margin-left: 200px;
    background-color: #999999;
}

#about {max-width: 320px;
    float: left;}
   #experiences {background-color: aqua;
    max-width: 320px;
        float: left;
}
   .skills {background-color: green;
    max-width: 320px;
        float: left;

}
   #education {background-color: blue;
    max-width: 320px;
        float: left;
}
   #hobbies{background-color: purple;
    width: 20%;
    float: left;
}